*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    margin: 0;
    padding: 0;
}

.popup {
    margin: 0;
    padding: 0;
    max-height: 290px;
    width: 300px;
    overflow: auto;
    font-family: -apple-system,arial,"EB Garamond","Helvetica Neue",Helvetica,sans-serif;
}

.popup h1 {
    font-size: 1.15rem;
    padding: 0 5px;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 5px;
    list-style: none;
    padding: 0 3px;
}

li button {
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1px;
    transition: 200ms transform ease-in;
    border: 2px solid transparent;
}

li button:hover {
    cursor: pointer;
}

.current-theme {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.current-theme .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contrast-ratio {
    padding: 0 4px;
    font-weight: 600;
}

.current-theme .wrapper .color-one,
.current-theme .wrapper .color-two {
    height: 3.5rem;
    width: 100%;
    padding: 3px 4px;
}

.custom-theme {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 2px;
}

.custom-theme summary {
    margin-bottom: 8px;
}

.custom-theme input {
    width: 100%;
    border: 1px solid lightgray;
    padding: 3px 5px;
}

.custom-theme button {
    width: 100%;
    margin: 2px 0;
    border-radius: 2px;
    padding: 5px 8px;
    background: #1a6bdd;
    color: #fff;
    border: none;
}

.wcag-info {
    background: rgb(242, 242, 242);
    padding: 0 6px;
    margin: 0 4px 8px;
    border: 1px solid lightgray;
}

.wcag-info p {
    margin: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wcag-compliance {
    font-size: 12px;
    border-radius: 500px;
    padding: 2px 8px;
}

.wcag-compliance.pass {
    color: #fff;
    background-color: green;
}

.wcag-compliance.fail {
    color: #fff;
    background: red;
}

.themes-credit {
    margin: 0;
    padding: 2px 4px;
    background: #222;
    color: #fff;
}

.themes-credit a {
    color: #222;
    color: #fff;
}

footer a {
    color: #222;
    padding: 2px 4px;
}