*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    clip: rect(1px,1px,1px,1px);
    clip-path: inset(1px);
    display: block;
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    margin: 0;
    padding: 0;
}

.popup {
    margin: 0;
    padding: 0 12px;
    height: 250px;
    width: 300px;
    overflow: auto;
}

.popup h1 {
    font-size: 1.125rem;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 5px;
    list-style: none;
    padding-left: 0;
}

li button {
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1px;
    transition: 200ms transform ease-in;
    border: 2px solid transparent;
}

li button:hover {
    cursor: pointer;
    border: 2px dashed #f06;
}

.current-theme {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.current-theme .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-theme .wrapper div {
    height: 3.5rem;
    width: 100%;
    padding: 3px;
}

.custom-theme {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.custom-theme summary {
    margin-bottom: 8px;
}

.custom-theme input {
    width: 100%;
    border: 1px solid lightgray;
    padding: 3px 5px;
}

.custom-theme button {
    width: 100%;
    margin: 2px 0;
    border-radius: 2px;
    padding: 5px 8px;
    background: #1a6bdd;
    color: #fff;
    border: none;
}