*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.popup {
    margin: 0;
    padding: 0 12px;
    height: 250px;
    width: 300px;
    overflow: auto;
}

.popup h1 {
    font-size: 1.125rem;
}

.theme-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 5px;
    list-style: none;
    padding-left: 0;
}

li button {
    border: none;
    display: block;
    height: 100%;
    width: 100%;
    padding: 1rem;
    border-radius: 1px;
    transition: 200ms transform ease-in;
    border: 2px solid transparent;
}

li button:hover {
    cursor: pointer;
    border: 2px dashed #f06;
}
